Repository soda-inria/causal_ehr_mimic: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, detect-secrets, isort, mypy, pylint, pyupgrade, yamllint, check-ast, debug-statement-hook, end-of-file-fixer, pretty-format-json

black:
  name: black
  language: system
  entry: poetry run black --config pyproject.toml

detect-secrets:
  name: detect-secrets
  language: system
  entry: poetry run detect-secrets-hook

isort:
  name: isort
  language: system
  entry: poetry run isort

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

pylint:
  name: pylint
  language: system
  entry: poetry run pylint --rcfile=pyproject.toml

pyupgrade:
  name: pyupgrade
  language: system
  entry: poetry run pyupgrade

yamllint:
  name: yamllint
  language: system
  entry: poetry run yamllint --config-file=yamllint-config.yml

check-ast:
  name: check-ast
  language: system
  entry: poetry run check-ast

debug-statement-hook:
  name: debug-statement-hook
  language: system
  entry: poetry run debug-statement-hook

end-of-file-fixer:
  name: end-of-file-fixer
  language: system
  entry: poetry run end-of-file-fixer

pretty-format-json:
  name: pretty-format-json
  language: system
  entry: poetry run pretty-format-json --autofix --no-ensure-ascii

trying a drop down
  README.md
Due: detect-secrets, end-of-file-fixer

iter dropdown
  README.md
Due: detect-secrets, end-of-file-fixer

fix typos
  README.md
  notebooks/_1_framing_albumin_for_sepsis.py
  notebooks/_3_estimation__albumin_for_sepsis.py
Due: black, detect-secrets, isort, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

layout ok for readme
  README.md
Due: detect-secrets, end-of-file-fixer

iter
  README.md
  caumim/experiments/sepsis_mortality_predictive_failure.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

REFACTO: cleaned unused codes - rm inference.estimation.py: reimplementation of metalearners and AIPW/IPW/G estimators - rm inference.scores.py: risk scores (ipw_risk, r_risk, ...)
  caumim/experiments/cate_exploration_albumin_for_sepsis.py
  caumim/experiments/sensitivity_albumin_for_sepsis.py
  caumim/experiments/sensitivity_feature_aggregation_albumin_for_sepsis.py
  caumim/experiments/sepsis_mortality_predictive_failure.py
  caumim/inference/estimation.py
  caumim/inference/scores.py
  notebooks/README.md
  notebooks/_3_estimation__albumin_for_sepsis.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

better step by step notebook
  README.md
  caumim/variables/selection.py
  notebooks/_1_framing_albumin_for_sepsis.py
  notebooks/_3_estimation__albumin_for_sepsis.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

complete main script with framework titles
  caumim/experiments/sensitivity_albumin_for_sepsis.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

iter
  README.md
  notebooks/README.md
Due: detect-secrets, end-of-file-fixer

add links'
  README.md
Due: detect-secrets, end-of-file-fixer

iter
  README.md
Due: detect-secrets, end-of-file-fixer

add preprint to readme
  README.md
Due: detect-secrets, end-of-file-fixer

iter
  caumim/experiments/sensitivity_albumin_for_sepsis.py
  caumim/experiments/sensitivity_confounders_albumin_for_sepsis.py
  caumim/variables/selection.py
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-05-40.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-06-22.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-06-40.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-07-14.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-07-59.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-23-09.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-26-08.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-32-36.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-49-19.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-50-13.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-50-36.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-51-30.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-52-34.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-07-56.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-10-59.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-17-21.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-19.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-23.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-26.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-29.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-33.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-41.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-45.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-50.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-16-56-58.parquet
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/ps_distributions/ps_distribution__['first', 'last']__Forests.pdf
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/ps_distributions/ps_distribution__['first', 'last']__Forests.png
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/ps_distributions/ps_distribution__['first', 'last']__Regularized LR.pdf
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/ps_distributions/ps_distribution__['first', 'last']__Regularized LR.png
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

add missing confounders results
  caumim/experiments/sensitivity_albumin_for_sepsis.py
  caumim/experiments/sensitivity_confounders_albumin_for_sepsis.py
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-06-22.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-06-40.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-07-14.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-07-59.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-23-09.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-26-08.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-32-36.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-49-19.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-50-13.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-50-36.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-51-30.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-15-52-34.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-07-56.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-10-59.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-17-21.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-19.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-23.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-26.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-29.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-33.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-41.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-45.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-50.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-16-56-58.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/logs/09-07-2023-17-05-41.parquet
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/ps_distributions/ps_distribution__['first', 'last']__Forests.pdf
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/ps_distributions/ps_distribution__['first', 'last']__Forests.png
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/ps_distributions/ps_distribution__['first', 'last']__Regularized LR.pdf
  data/experiences/sensitivity_confounders_albumin_for_sepsis__bs_50/ps_distributions/ps_distribution__['first', 'last']__Regularized LR.png
  data/experiences/sensitivity_feature_aggregation_albumin_for_sepsis/logs/09-07-2023-15-05-40.parquet
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.png
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

struggling w forestplot
  caumim/reports_utils.py
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.png
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

add confounder sensitivityé
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.png
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

iter
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50.png
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.png
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

btter main figure for covariate
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.png
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

iter fig
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.png
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

align x axis for sources of bias
  caumim/constants.py
  caumim/experiments/immortal_time_bias_albumin_for_sepis.py
  caumim/experiments/sensitivity_albumin_for_sepsis.py
  docs/source/_static/img/albumin_for_sepsis__obs_1d/compute_time_estimates_20230712__est_lr_rf__bs_50_shared_x_axis.tex
  docs/source/_static/img/albumin_for_sepsis__obs_1d/estimates_20230712__est_lr_rf__bs_50.pdf
  docs/source/_static/img/albumin_for_sepsis__obs_1d/estimates_20230712__est_lr_rf__bs_50.png
  docs/source/_static/img/albumin_for_sepsis__obs_1d/estimates_20230712__est_lr_rf__bs_50_shared_x_axis.pdf
  docs/source/_static/img/albumin_for_sepsis__obs_1d/estimates_20230712__est_lr_rf__bs_50_shared_x_axis.png
  docs/source/_static/img/albumin_for_sepsis__obs_1d/flowchart_albumin_for_sepsis.svg
  docs/source/_static/img/immortal_time_bias_double_robust_forest_agg_first_last__bs_30/immortal_time_bias_double_robust_forest_agg_first_last__bs_30.pdf
  docs/source/_static/img/immortal_time_bias_double_robust_forest_agg_first_last__bs_30/immortal_time_bias_double_robust_forest_agg_first_last__bs_30.png
  docs/source/_static/img/immortal_time_bias_double_robust_forest_agg_first_last__bs_30/immortal_time_bias_double_robust_forest_agg_first_last__bs_30_shared_x_axis.pdf
  docs/source/_static/img/immortal_time_bias_double_robust_forest_agg_first_last__bs_30/immortal_time_bias_double_robust_forest_agg_first_last__bs_30_shared_x_axis.png
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.png
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure_shared_x_axis.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure_shared_x_axis.png
  reports/0_description_albumin_for_sepsis.py
  reports/1_sensitivity_albumin_for_sepsis_report.py
  reports/2_immortal_bias_albumin_for_sepsis_report.py
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

iter on xalign figures
  docs/source/_static/img/albumin_for_sepsis__obs_1d/estimates_20230712__est_lr_rf__bs_50_shared_x_axis.pdf
  docs/source/_static/img/albumin_for_sepsis__obs_1d/estimates_20230712__est_lr_rf__bs_50_shared_x_axis.png
  docs/source/_static/img/immortal_time_bias_double_robust_forest_agg_first_last__bs_30/immortal_time_bias_double_robust_forest_agg_first_last__bs_30_shared_x_axis.pdf
  docs/source/_static/img/immortal_time_bias_double_robust_forest_agg_first_last__bs_30/immortal_time_bias_double_robust_forest_agg_first_last__bs_30_shared_x_axis.png
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure_shared_x_axis.pdf
  docs/source/_static/img/sensitivity_confounders_albumin_for_sepsis__bs_50/sensitivity_confounders_albumin_for_sepsis__bs_50_main_figure_shared_x_axis.png
  reports/1_sensitivity_albumin_for_sepsis_report.py
  reports/2_immortal_bias_albumin_for_sepsis_report.py
  reports/6_confounder_sensitivity_albumin_for_sepsis_report.py
Due: black, detect-secrets, isort, mypy, pylint, pyupgrade, check-ast, debug-statement-hook, end-of-file-fixer

Path conditions:
  black: any of: \.py$
  detect-secrets: any of: not (\.ipynb$), but not: ^(poetry\.lock|\.cruft\.json|\.ipynb)$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^(notebooks/.*\.py)$
  pylint: any of: \.py$, but not: ^(notebooks/.*\.py)$
  pyupgrade: any of: \.py$
  yamllint: any of: .*\.(yml|yaml)
  check-ast: any of: \.py$
  debug-statement-hook: any of: \.py$
  end-of-file-fixer: any file but: \.ipynb$
  pretty-format-json: any of: .*\.json, but not: ^(\.cruft\.json)$
